.head{
    background-color: orange;
    position: absolute;
    height: 400px;
    top: 250px;
    left: 500px;
    right: 500px;
    border-radius:50% ;
}
.ear1{
    background-color: orange;
    position: absolute;
    height: 150px;
    width: 150px;
    left: 600px;
    top: 250px;
    transform: rotate(30deg);
}
.ear2{
    background-color: orange;
    position: absolute;
    height: 150px;
    width: 150px;
    right: 600px;
    top: 250px;
    transform: rotate(-30deg);
}
.eye1{
    position: absolute;
    background-color: rgb(255, 0, 0);
    top: 200px;
    left: 700px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.eye2{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 200px;
    bottom: 650px;
    right: 700px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

    
