#m{
    position: absolute;
    height: 130%;
    width: 20%;
    right: 80%;
    background-color: rgb(241, 241, 241);
    display: none;
    z-index: 30;
}
.x{
    position: absolute;
    top: 1px;
    left: 335px;
}
button{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(188, 197, 197);
    border-radius: 10px;
    outline-style:none;
    border: none;
    width: 40;
    height: 20;
}
body{
    background-color: rgb(188, 197, 197);
}
a{
    color: black;
    text-decoration: none;
}
#but{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    outline-style:none;
    border: none;
    width: 40;
    height: 20;
}
.center{
    width: 900px;
    height: 500px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 550px;
}
.card{
    width: 300px;
    padding: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}
.card-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.card-title{
    margin-bottom: 10;
}
.cards-container{
    font-size: 0;
}
.card-title a{
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: blueviolet;
    text-decoration: none;
}
.card-desc{
    text-align: justify;
    margin-bottom: 10px;
    height: 85px;
    overflow: hidden;
}
.p1{
    font-size: 20px;
    text-align: center;
}
h1{
    text-align: center;
}
